<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.example.fhdemo3.20110923-demo-vmware-news" version="1.0" width="240" height="320" start="index.html">
<title>20110923-demo-vmware-news</title>
<description>VMware EMS Ireland User Interface code</description>
<author name="" email="" url=""></author>
<license></license>
</widget>
